@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

*::selection {
  background: #111;
  color: #f0f0f0;
}

html {
  background-color: #f0f0f0;
  color: #111;
  -webkit-background-color: #f0f0f0; /* Safari-specific */
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .common-padding {
    @apply p-6 max-sm:p-[16px];
  }

  .common-margin {
    @apply m-6 max-sm:m-[16px];
  }
}
