@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

*::selection {
  background: #f0f0f0;
  color: #111;
}

:root {
  background-color: #000;
  color: #fff;
  -webkit-background-color: #000; /* Safari-specific */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  @apply bg-[#000];
}

@layer utilities {
  .common-padding {
    @apply p-6 max-sm:p-[16px];
  }

  .common-margin {
    @apply m-6 max-sm:m-[16px];
  }
}
